<div class="student-report-card-inner front-card">
    <p class="text-left">DepED FORM 138</p>
    <div class="flex-row">
        <div class="front-card-img">
            <img src="assets/images/bulua.png" class="logo-print">
        </div>
        <div class="flex-column text-center front-card-text">
            <p>Republic of the Philippines</p>
            <p>Department of Education</p>
            <i>Region X</i>
            <p>Division of Cagayan de Oro City</p>
            <p>West District II</p>
            <h4>BULUA CENTRAL SCHOOL</h4>
        </div>
        <div class="front-card-img">
            <img src="assets/images/deped.png" class="logo-print">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Name:</label>
                <input type="text" class="form-control" ng-model="vm.variables.fullname" disabled/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Age:</label>
                <input type="text" class="form-control text-center" ng-model="vm.variables.age" disabled/>
            </div>
        </div>
        <div class="col-md-7">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Sex:</label>
                <input type="text" class="form-control text-center" ng-model="vm.variables.sex" disabled/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Grade:</label>
                <input type="text" class="form-control text-center" ng-model="vm.variables.grade" disabled/>
            </div>
        </div>
        <div class="col-md-7">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Section:</label>
                <input type="text" class="form-control text-center" ng-model="vm.variables.section" disabled/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">School Year:</label>
                <input type="text" class="form-control text-center" ng-model="vm.variables.schoolYear" disabled/>
            </div>
        </div>
    </div>
    <div class="row text-to-parent">
        <div class="col-md-12 text-left">
            <p class="heading">Dear Parent:</p>
        </div>
        <div class="col-md-12 text-left">
            <p>
                <span class="indent">&nbsp;</span>This report card shows the ability and progress your child has made in the different learning
                areas as well as his/her core values.</p>
            <p>
                <span class="indent">&nbsp;</span>
                The school welcomes you should you desire to know more about your child's progress.
            </p>
        </div>
    </div>
    <div class="row signing">
        <div class="col-md-offset-7 col-md-5">
            <div class="jv-form">
                <label class="text-center">Teacher</label>
                <input type="text" class="form-control text-center" disabled ng-model="vm.variables.teacher"/>
            </div>
        </div>
    </div>
    <div class="row signing">
        <div class="col-md-5">
            <div class="jv-form">
                <label class="text-center">Elem. School Principal III</label>
                <input type="text" class="form-control text-center" disabled ng-model="vm.variables.principal" />
            </div>
        </div>
    </div>
    <div class="row padding-top-15">
        <div class="col-md-12 text-center front-card-text">
            <h4>CERTIFICATE OF TRANSFER</h4>
        </div>
        <div class="col-md-6">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Admitted to Grade:</label>
                <input type="text" class="form-control text-center" disabled/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Section:</label>
                <input type="text" class="form-control text-center" disabled/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Eligibility for Admission to Grade:</label>
                <input type="text" class="form-control text-center" disabled/>
            </div>
        </div>
        <div class="col-md-12 text-to-parent text-left">
            <p>Approved:</p>
        </div>
        <div class="signing col-md-5">
            <div class="jv-form">
                <label class="text-center">Elem. School Principal III</label>
                <input type="text" class="form-control text-center" disabled ng-model="vm.variables.principal" />
            </div>
        </div>
        <div class="signing col-md-offset-2 col-md-5">
            <div class="jv-form">
                <label class="text-center">Teacher</label>
                <input type="text" class="form-control text-center" disabled/>
            </div>
        </div>
    </div>
    <div class="row cancellation padding-top-15">
        <div class="col-md-12 text-center front-card-text">
            <h4>CANCELLATION OF ELIGIBILITY TO TRANSFER</h4>
        </div>
        <div class="col-md-5">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Admitted in :</label>
                <input type="text" class="form-control text-center" disabled/>
            </div>
        </div>
    </div>
    <div class="row cancellation">
        <div class="col-md-5">
            <div class="jv-form">
                <label class="flex-column justify-flex-end">Date :</label>
                <input type="text" class="form-control text-center" disabled/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="signing col-md-offset-6 col-md-6">
            <div class="jv-form">
                <label class="text-center">Principal</label>
                <input type="text" class="form-control text-center" disabled />
            </div>
        </div>
    </div>
</div>